.row
  .col
    %h4 Дисциплины
.row
  .col
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th{scope: 'col'}
            = 'ID'
          %th{scope: 'col'}
            = 'Название'
      %tbody
        - @disciplines.each do |discipline|
          %tr
            %th{scope: 'row'}
              = discipline.id
            %td
              = link_to discipline.title, discipline
            - if current_user.analyst? || current_user.admin?
              %td
                = link_to 'Редактировать', edit_discipline_path(discipline)
            - if current_user.admin?
              %td
                = link_to 'Удалить', discipline_path(discipline), method: :delete, data: { confirm: 'Удалить?' }
        - if current_user.analyst? || current_user.admin?
          %tr
            %td{colspan: '5'}
              = link_to 'Создать', new_discipline_path
