.row
  .col
    %h4 Факультеты
.row
  .col
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th{scope: 'col'}
            = 'ID'
          %th{scope: 'col'}
            = 'Название'
          %th{scope: 'col'}
            = 'Аббревиатура'
      %tbody
        - @faculties.each do |faculty|
          %tr
            %th{scope: 'row'}
              = faculty.id
            %td
              = link_to faculty.title, faculty
            %td
              = faculty.abbreviation
            - if current_user.analyst? || current_user.admin?
              %td
                = link_to 'Редактировать', edit_faculty_path(faculty)
            -  if current_user.admin?
              %td
                = link_to 'Удалить', faculty_path(faculty), method: :delete, data: { confirm: 'Удалить?' }
        - if current_user.analyst? || current_user.admin?
          %tr
            %td{colspan: '5'}
              = link_to 'Создать', new_faculty_path
