.row
  .col
    = link_to '<< Факультеты', faculties_path
.row
  .col
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th{scope: 'col'}
            = 'ID'
          %th{scope: 'col'}
            = 'Название'
          %th{scope: 'col'}
            = 'Кафедры'
      %tbody
        %tr
          %th{scope: 'row'}
            = @faculty.id
          %td
            = @faculty.title
          %td
            - @faculty.departments.each do |department|
              %p
                = link_to department.title, department
          %td
            = link_to 'Редактировать', edit_faculty_path(@faculty)
          %td
            = link_to 'Удалить', faculty_path(@faculty), method: :delete, data: { confirm: 'Удалить?' }

