.row
  .col{class: 'text-center'}
    %h3
      %b
        = @lecturer.fullname
.row
  .col
    = form_for :questionnaire, url: {action: 'create'} do |f|
      .row
        .col{class: 'text-justify'}
          = label_tag '1. Педагогическое мастерство (ясное и понятное изложение учебного материала, соблюдение логики изложения, умение организовать дискуссию, поддержать интерес к предмету и др.):'
        .col{class: 'text-center'}
          = f.range_field :first_question, in: 0..5, step: 1, class: 'form-control-sm'
      .row
        .col{class: 'text-justify'}
          = label_tag '2. Уровень изложения изучаемого предмета (использование современных достижений науки, уровень информативности лекций, использование аудиторного времени по назначению и др.):'
        .col{class: 'text-center'}
          = f.range_field :second_question, in: 0..5, step: 1, class: 'form-control-sm'
      .row
        .col{class: 'text-justify'}
          = label_tag '3. Отношение к студентам (доброжелательность и тактичность, заинтересованность в успехах студентов и др.):'
        .col{class: 'text-center'}
          = f.range_field :third_question, in: 0..5, step: 1, class: 'form-control-sm'
      .row
        .col{class: 'text-justify'}
          = label_tag '4. Доступность преподавателя для консультаций в процессе внеаудиторной нагрузки преподавателя:'
        .col{class: 'text-center'}
          = f.range_field :fourth_question, in: 0..5, step: 1, class: 'form-control-sm'
      .row
        .col{class: 'text-justify'}
          = label_tag '5. Личные качества преподавателя (уровень научной эрудиции, культура речи, терпение и выдержка, интеллигентность и культура поведения, опрятность и др.):'
        .col{class: 'text-center'}
          = f.range_field :fifth_question, in: 0..5, step: 1, class: 'form-control-sm'
      .row
        .col{class: 'text-justify'}
          = label_tag '6. Оцените свои знания по изученной дисциплине:'
        .col{class: 'text-center'}
          = f.range_field :sixth_question, in: 0..5, step: 1, class: 'form-control-sm'
      .row
        .col{class: 'text-justify'}
          = label_tag '7. Просим указать, какую часть занятий преподавателя, Вы посещали (в %):'
        .col{class: 'text-center'}
          = f.range_field :seventh_question, in: 0..5, step: 1, class: 'form-control-sm'
      .row
        .col{class: 'text-justify'}
          = label_tag 'Укажите дисциплину, которую вел преподаватель:'
        .col
          = f.collection_select(:discipline_id, @disciplines, :id, :title, { prompt: 'Выберите дисциплину' }, {class: 'form-control'})
      .row
        .col{class: 'text-right'}
          = f.hidden_field(:lecturer_id, value: @lecturer.id)
          = f.hidden_field(:university_group_id, value: @university_group.id)
          = f.submit 'Отправить', class: 'btn btn-primary'



