:plain
  $('#statsTable').html("#{j(@stats_table_partial)}");
  $('#mainPieChart').html("#{j(@summary_pie_chart_partial)}");
  $('#firstQuestionPieChart').html("#{j(@occurrences_pie_charts[0])}");
  $('#secondQuestionPieChart').html("#{j(@occurrences_pie_charts[1])}");
  $('#thirdQuestionPieChart').html("#{j(@occurrences_pie_charts[2])}");
  $('#fourthQuestionPieChart').html("#{j(@occurrences_pie_charts[3])}");
  $('#fifthQuestionPieChart').html("#{j(@occurrences_pie_charts[4])}");
  $('#sixthQuestionPieChart').html("#{j(@occurrences_pie_charts[5])}");

