:plain
  $('#stats').html("#{j(@stats_partial)}");
  $('#mainPieChart').html("#{j(@main_pie_chart)}");
  $('#firstPieChart').html("#{j(@other_pie_charts[:first_question])}");
  $('#secondPieChart').html("#{j(@other_pie_charts[:second_question])}");
  $('#thirdPieChart').html("#{j(@other_pie_charts[:third_question])}");
  $('#fourthPieChart').html("#{j(@other_pie_charts[:fourth_question])}");
  $('#fifthPieChart').html("#{j(@other_pie_charts[:fifth_question])}");
  $('#sixthPieChart').html("#{j(@other_pie_charts[:sixth_question])}");