%table.table.table-bordered
  %thead
    %tr
      %th{scope: 'col'}
        = 'Вопрос'
      %th{scope: 'col'}
        = 'Значение'
      %th{scope: 'col'}
        = 'Общее'
    %tr
      %th{scope: 'col'}
        = '№1. Педагогическое мастерство'
      %td
        = summary_stats[:first_question]
      %td.align-middle{rowspan: 6}
        = average
    %tr
      %th{scope: 'col'}
        = '№2. Уровень изложения изучаемого предмета'
      %td
        = summary_stats[:second_question]
    %tr
      %th{scope: 'col'}
        = '№3. Отношение к студентам'
      %td
        = summary_stats[:third_question]
    %tr
      %th{scope: 'col'}
        = '№4. Доступность преподавателя для консультаций'
      %td
        = summary_stats[:fourth_question]
    %tr
      %th{scope: 'col'}
        = '№5. Личные качества преподавателя'
      %td
        = summary_stats[:fifth_question]
    %tr
      %th{scope: 'col'}
        = '№6. Собственная оценка знаний'
      %td
        = summary_stats[:sixth_question]
    %tr
      %th{scope: 'col'}
        = '№7. Посещаемость (%)'
      %td.text-center{colspan: 2}
        = summary_stats[:seventh_question]
    %tr
      %td.table-active.text-center{colspan: 3}
        = "Общее количество заполненных анкет — #{number_of_questionnaires}"

