.row
  .col
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th{scope: 'col'}
            = 'ID'
          %th{scope: 'col'}
            = 'ФИО'
      %tbody
        %tr
          %th{scope: 'row'}
            = @lecturer.id
          %td
            = @lecturer.fullname
          %td
            = link_to 'Редактировать', edit_lecturer_path(@lecturer)
          %td
            = link_to 'Удалить', lecturer_path(@lecturer), method: :delete, data: { confirm: 'Удалить?' }
%hr
  %h4
    Статистические данные
.row
  .col-md-3
    .form-group
      = collection_select(:discipline, :id, @lecturer_disciplines, :id, :title, { prompt: 'Все дисциплины'},
       { class: 'form-control', onchange: ''})
  .col-md-3
    .form-group
      = select_tag('calculation_type', raw('<option value="average">Среднее</option><option value="median">Медианное</option>'),
       class: 'form-control')
  .col-md-6.text-left
    .form-group
      = button_tag('Отобразить', class: 'btn btn-primary', onclick: "showStats(#{@lecturer.id});")



.row
  .col-md-6#statsTable
  .col-md-6#mainPieChart
.row
  .col-md-4#firstQuestionPieChart
  .col-md-4#secondQuestionPieChart
  .col-md-4#thirdQuestionPieChart
  .col-md-4#fourthQuestionPieChart
  .col-md-4#fifthQuestionPieChart
  .col-md-4#sixthQuestionPieChart



