!!! 5
%html
  %head
    %title Анонимное анкетирование "Преподаватель глазами студента"
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/navbar'
    .container
      = render 'shared/flashes'
      = yield
      = render 'shared/footer'
